body {
    font-family: 'Merriweather', sans-serif;
    margin: 5px;
}
h1 {
    font-size: 60px;
    font-weight: bolder;
}

h2 {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 150px;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
    font-style: normal;
}

h4 {
    font-size: 25px;
    font-weight: bolder;

}
h5 {
    font-size: 18px;
    font-weight: lighter;
    font-style: normal;
    color: #747171;
}
.banner{
   
    background-image: url('../images/BannerImage.png');

    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px #888888;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 16px;
      }

.banner-text {
    background: linear-gradient(180deg, #070211 0%, rgba(38, 37, 38, 0) 100%);
    margin: auto;
    padding-top: 70px;
    text-align: center;
    width: 60%;
    color: whitesmoke;
}
.primary-color{
    color: #F00;;
}
.link-button {
    text-decoration: none;
    background-image: repeating-linear-gradient(orangered, #F00);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    height: 30px;

}
.container{
    margin: auto;
        padding-top: 70px;
        text-align: center;
        width: 60%;
        height: 733px;
        margin-bottom: 100px;
}
.container h3{
    font-weight: 700;
}
.Welcome-section{
    background-image: url('../images/Vectorrr.png');
    height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 2px 2px #888888;
        margin-top: 5px;
        margin-bottom: 40px;
        border-radius: 16px;
    color: #FFF;
    padding-top: 80px;
}
.Welcome-section div{
    margin-left: 120px;
    margin-top: 120px;

}
.Welcome-section div a{
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
}
.center-section{
    background-image: linear-gradient(180deg,
        rgba(255, 0, 0, 0.10) 0%,
        rgba(255, 0, 0, 0.00) 100%);
        border-radius: 15px;
        margin: 5px;
        margin-top: 120px;
        padding-top: 100px;
        text-align: center;
        font-size: 24px;
            font-style: normal;
            font-weight: 600;

}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding: 100px;
    
}
#Ellipse{
    border: 10px solid #F00;
    border-radius: 200px;
    padding: 10px;
}
.image-container{
        
            background-image: url("../images/rectangle1.png");
            background-position: bottom;
            background-repeat: no-repeat;
            padding:0;
            
            
}
#fifty{
    background-image: url("../images/rectangle4.png");
        background-position:top right;
        background-repeat: no-repeat;
        width: 40%;
            height: 433px;
        margin-right: 0;
        padding-right: 0;
}

.gift-section{
    margin-top: 120px;
    margin-left: 140px;
    padding: 0;
}
.gift-section .flex-container{
    padding: 0px;
    margin-left: 0px;
    margin-right: 50px;
}
.gift-section .flex-container img:hover{
   height: 200px;
   width: 200px;
}
.subscribe-section{
    justify-content: center;
    margin-top: 0px;
}
.subscribe-section input{
    background-color: gainsboro;
    font-family: inherit;
    width: 50%;
    height: 32px;
    border: oldlace;
    outline: 0;
    padding: 10px;
    border-radius: 50px 0px 0px 50px;
    transition: border-color 0.2s;
    text-align: left;
    margin-bottom: 40px;
}
.subscribe-section a{
    border-radius: 0px 50px 50px 0px;
}

footer{
    background-color: #070211;
    color: #f000;
    
}
footer .flex-container {
    justify-content:space-between;
    margin: 0px;
    padding: 80px;
}
footer .flex-container .flex-container{
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
footer .flex-container .flex-container img{
    width: 24px;
    height: 24px;
    margin: 0px;
        padding: 0px;
}
footer .flex-container .flex-container h5 {
    margin: 2px;
    padding: 0px;
}
footer hr{
    width: 80%;
    height: 1px;
    color: rgb(176, 170, 170);
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 0px;
}
#icons{
    justify-content: center;
    margin-top: 0px;
    margin-bottom:0px ;
    padding: 0px;
}
#icons a{
text-decoration: none;
margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

#icons a i{
   
    width: 100px;
    height: 100px;
    padding: 0px;
    margin-right: 5px;
    color: #4545e5;
}